.env
.venv
.idea
venv/
env/
__pycache__
*.pyc
/backend/migrations
/backend/instance
PLAN.md
/backend/seed_vehicles.py
instance/
.webassets-cache
.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db
migrations/